* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jersey 15", sans-serif;
  font-weight: 100;
}
body { background-color: black; }
.button {
  aspect-ratio: 1 / 1;
  width: 25px;
  background-color: #0000;
  border: none;
  color: white;
}
.player {
  aspect-ratio: 1 / 1;
  width: 40px;
  position: fixed;
  background-image: url('./assets/textures/player.png');
  background-size: cover;
  top: 0;
  left: 0;
  transform: translate(20vw, 50vh);
}
.shoot {
  position: fixed;
  background-color: red;
  width: 20px;
  height: 7px;
  top: 9px;
}
.deathmsg {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 250px;
  padding: 30px 15px;
  color: black;
  background-color: darkgray;
  border-radius: 10px;
  z-index: 99;
  gap: 5px;
  font-weight: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.deathmsg h2 {
  font-size: 40px;
}
.deathmsg p {
  font-size: 20px;
  opacity: 0.75;
  color: black;
}
.deathmsg button {
  font-size: 25px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  width: 70%;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.deathmsg button:hover {
  transform: scale(1.05);
}
.deathmsg button:active {
  background-color: rgba(0, 255, 0, 0.5);
}
.deathmsg .info{
  color: black;
  text-align: center;
  opacity: 0.8;
  font-style: italic;
}
.deathmsg .info a {
  filter: brightness(120);
  color: darkblue;
}

.enemy {
  aspect-ratio: 1 / 1;
  position: fixed;
  width: 40px;
  background-size: cover;
}
.enemy01 { background-image: url('./assets/textures/enemy_01.png'); }
.enemy02 { background-image: url('./assets/textures/enemy_02.png'); }
.metheor {
  aspect-ratio: 1 / 1;
  width: 50px;
  position: fixed;
  background-size: cover;
  background-image: url('./assets/textures/metheor.png');
}

.blackscreen {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  z-index: 9999;
  background-color: black;
}
.blackscreen h1 {
  font-size: 75px;
}
.blackscreen button {
  border: none;
  background-color: darkgray;
  padding: 0 10px;
  font-size: 35px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.blackscreen button:hover {
  transform: scale(1.05);
  background-color: #252525;
  color: white;
}
.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.control {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-size: 30px;
}
.control img {
  aspect-ratio: 1 / 1;
  width: 50px;
}
