* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jersey 15", sans-serif;
  font-weight: 100;
}
.main-page {
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
  color: white;
  overflow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.logo {
  font-size: 75px;
  animation: bounce 2s linear infinite;
  cursor: default;
}
.buttons {
  display: flex;
  gap: 20px;
  padding-top: 15px;
}
.option-button {
  background-color: #0000;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  font-size: 30px;
  color: white;
  padding: 3px 10px;
  width: 125px;
  cursor: pointer;
  transition: 250ms;
}
.option-button:hover {
  transform: scale(1.1);
}
.option-button:active {
  background-color: white;
  color: black;
}
.ad {
  position: fixed;
  bottom: 5px;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  color: white;
  width: 100%;
  opacity: 0.5;
  padding: 10px;
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  padding: 30px 10px;
  border-radius: 10px;
  background-color: darkgray;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 200px;
}
.volume {
  display: flex;
  position: relative;
  margin: 5px 0;
  width: 99%;
  justify-content: center;
  align-items: center;
}
.volume label {
  position: absolute;
  transform: translateY(-100%);
  left: 0;
}
.volumeLine {
  width: 85%;
  color: white;
}
.volumeButton {
  aspect-ratio: 1 / 1;
  width: 14%;
  border: none;
  background-color: #0000;
}
.volumeButton img {
  aspect-ratio: 1 / 1;
  width: 90%;
}
.buttonsMenu {
  width: 99%;
  display: flex;
  gap: 2%;
  margin-top: 10px;
}
.buttonMenu {
  width: 49%;
  aspect-ratio: 3 / 1;
  font-size: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: 250ms ease-in-out;
}
.buttonMenu:hover {
  transform: scale(1.1);
}
#exit:active {
  background-color: red;
}
#save:active {
  background-color: green;
}