* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jersey 15", sans-serif;
  font-weight: 100;
}
.main-page {
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
  color: white;
  overflow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: 75px;
  animation: bounce 2s linear infinite;
  cursor: default;
}
.buttons {
  display: flex;
  gap: 20px;
  padding-top: 15px;
}
.option-button {
  background-color: #0000;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  font-size: 30px;
  color: white;
  padding: 3px 10px;
  width: 125px;
  cursor: pointer;
  transition: 250ms;
}
.option-button:hover {
  transform: scale(1.1);
}
.ad {
  position: fixed;
  bottom: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  color: white;
  width: 100%;
  opacity: 0.5;
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 30px 15px;
  border-radius: 15px;
  background-color: darkgray;
  text-align: center;
  display: none;
  flex-direction: column;
  gap: 5px;
}
.volume {
  position: relative;
  display: flex;
  margin: 5px 0;
  width: 150px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.volumeButton {
  aspect-ratio: 1/1;
  width: 75px;
  border: none;
  background-color: #0000;
}
.volume label {
  position: absolute;
  transform: translateY(-10px);
  left: 0;
}
.menuButton {
  width: 45%;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 3px;
  font-size: large;
  cursor: pointer;
  z-index: 11;
}
.menuButton:hover {
  filter: brightness(0.5);
}

.showMenu { animation: showMenu 0.5s ease-in-out forwards; }
.hideMenu { animation: hideMenu 0.5s ease-in-out forwards; }